.button{

    background-color: var(--elements);
    border: none;
    box-shadow: 1px 0 2px 3px rgba($background--dark, 0.05);
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem 0;
    width: 9rem;

    &__link{
        color: var(--text);
        text-decoration: none;

        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    &__icon{
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 5px;
    }
}