.countrylist{
    align-items: center;
    display: flex;
    flex-direction: column;

    @media all and (min-width: 558px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 6rem;  
    }
}